@font-face {
    font-family: 'CMU Serif';
    src: url('CMUSerif-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CMU Serif';
    src: url('CMUSerif-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CMU Serif';
    src: url('CMUSerif-Italic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CMU Serif';
    src: url('CMUSerif-Roman.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CMU Serif Extra';
    src: url('CMUSerif-BoldSlanted.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CMU Serif Extra';
    src: url('CMUSerif-RomanSlanted.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CMU Serif Upright';
    src: url('CMUSerif-UprightItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

